/************************************************************************************/
/*DOMOV*/
/************************************************************************************/

/*Header*/
.Header{
    background-color: #03045E;
    color: #CAF0F8;
    font-family: "Montserrat", "Noto Sans", sans-serif;
    display: flex;
    height: 80px;
    position: fixed;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    
}

.Header-Title{
    padding-left: 30px;
    padding-top: 0px;
}

.Navigation-Bar{
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  gap: 20px;
}

.Navigation-Button{
    color: #CAF0F8;
    font-size: 20px; 
}

.Navigation-Button:hover{
    color: #CAF0F8;
    font-size: 20px;
    border: #CAF0F8 solid 2px;
    border-radius: 2px;

}

.Login-Button{
    color: #CAF0F8;
    font-size: 22px;
    border: #CAF0F8 solid 2px;
    
}

/*Body*/
body{
    padding-top: 60px;
    font-family: "Montserrat", "Noto Sans", sans-serif;
}

.Homepage-Post-ImageSource {
    width: auto;
    height: 300px;
}


/************************************************************************************/
/*Katalog*/
/************************************************************************************/
.Grid-Katalog-Post {
    background-color: #CAF0F8;
    display: inline-block;
    border: #90E0EF solid 3px;
    border-radius: 5px;  
    transition: 0.3s ease; 
}

.Grid-Katalog-Post-Image {
    width: 100%;       
    height: 200px;   
    object-fit: cover; 
}

.Grid-Katalog-Post:hover {
    transform:  scale(1.05);  
}



/************************************************************************************/
/*Blog*/
/************************************************************************************/

/************************************************************************************/
/*Poistenie*/
/************************************************************************************/

/************************************************************************************/
/*Kontakt*/
/************************************************************************************/