.Homepage-Post-ImageSource {
    width: auto;
    height: 300px;
}

/************************************************************************************/
/*Katalog*/
/************************************************************************************/
.Grid-Katalog-Post-Image {
    width: auto;
    height: 200px;
}