/************************************************************************************/
/*DOMOV*/
/************************************************************************************/
/*Video*/
.Homepage-Intro-Video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/*Header*/
.Header{
    background-color: #03045E;
    color: #CAF0F8;
    font-family: "Montserrat", "Noto Sans", sans-serif;
    display: flex;
    height: 80px;
    position: fixed;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    
}

.Header-Title{
    padding-left: 30px;
    padding-top: 0px;
}

.Navigation-Bar{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}

.Navigation-Button{
    color: #CAF0F8;
    font-size: 20px; 
    transition: 0.3s ease;
}

.Navigation-Button:hover{
    color: #CAF0F8;
    font-size: 20px;
    transform: scale(1.05);

}

.Login-Button{
    color: #CAF0F8;
    font-size: 22px;
    border: #CAF0F8 solid 2px;
    
}

/*Why us*/
.WhyUs-Grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    min-width: 300px;
    width: 100%;    
}

.WhyUs-Grid-Item{
    background-color: #6cbaff;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 25px;
}

.WhyUs-Grid-Item:hover{
    transform: scale(1.1);

}

.WhyUs-text{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

/*Body*/
body{
    padding-top: 60px;
    font-family: "Montserrat", "Noto Sans", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.Homepage-Intro{
    height: 100vh;
    width: 100%; 
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.Homepage-Post-ImageSource {
    width: auto;
    height: 300px;
}

/*Obrazkovy post*/
.Homepage-Post-Image{
    width: 100%;
    height: auto;
}

.Homepage-Post-ImageSource{
    width: auto;
    height: 300px;
    margin: 20px;
}

/*Textovy Post*/
.Homepage-Post-Text{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/*Reklamny post*/
.Homepage-Post-AD{
    max-width: 100%;
    width: 100%;
}


/************************************************************************************/
/*Katalog*/
/************************************************************************************/
.Catalog-Grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    min-width: 320px;
    width: 100%;    
}

.Grid-Katalog-Post {
    width: 100%;
    max-width: 350px;
    background-color: #CAF0F8;
    display: inline-block;
    border: #90E0EF solid 3px;
    border-radius: 5px;  
    transition: 0.3s ease; 
}

.Grid-Katalog-Post-Image {
    width: 100%;       
    height: 200px;   
    object-fit: cover; 
}

.Grid-Katalog-Post:hover {
    transform:  scale(1.05);  
}

.Grid-Katalog-Post-Button{
    background-color: #90E0EF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 2px;
    border-radius: 5px;
    width: 100%;
    max-width: 310px;
}



/* SIDEBAR */
.Katalog-Sidebar{
    width: 250px; 
    background-color: #CAF0F8;
    position: sticky;
    top: 20px;  
    bottom: 20px;     
    align-self: flex-start;
    padding: 20px;
    line-height: 200%;
    height: fit-content; 
}

.Sidebar-Button {
    color: #03045E;
    font-size: 20px;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.Sidebar-Button:hover {
    background-color: #90E0EF;
    border-radius: 4px;
}

.Sidebar-Option-Submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-left: 10px;
}

.Sidebar-Option:hover .Sidebar-Option-Submenu {
    max-height: 350px;
}

.Sidebar-Option-Submenu a {
    display: block;
    padding: 6px 10px;
    font-size: 16px;
    color: #03045E;
    text-decoration: none;
    border-left: 3px solid #90E0EF;
    margin-bottom: 3px;
}

.Sidebar-Option-Submenu a:hover {
    background-color: #ADE8F4;
    border-radius: 4px;
}

/*HLAVNY KATALOG GRID*/
.Main-Grid-Katalog{
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

/*KATALOG BODY*/
.Katalog-Body{
    display: flex;
}

/************************************************************************************/
/*Blog*/
/************************************************************************************/

.Homepage-Post-Blog{
    padding: 20px;
    font-size: 18px;
    background-color: #CAF0F8;
    border: #90E0EF solid 3px;
    border-radius: 5px;  
    margin-bottom: 20px; 
    display: flex;
}

/************************************************************************************/
/*Poistenie*/
/************************************************************************************/
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

table, td, tr{
    border: 1px dotted;
}

td, tr{
    padding: 10px;
    text-align: center;
}

.Table-Row-Title{
    font-weight: bold;
    background-color: #90E0EF;
    
}

.Poistenie-Info{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    border: #90E0EF 3px solid;
    width: 45%;
    background-color: #CAF0F8;
    border-radius: 20px;
    transition: 0.3s ease;
}

.Poistenie-Info:hover{
    transform: scale(1.02);
}

.Poistenie-Info-Box{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/************************************************************************************/
/*Kontakt*/
/************************************************************************************/
.Kontakt-Info{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.Kontakt-Blok{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    border: #90E0EF 3px solid;
    width: 20%;
    background-color: #CAF0F8;
    border-radius: 20px;
    transition: 0.3s ease;
    margin: 10px 10px;
}

.Kontakt-Blok:hover{
    transform: scale(1.02);
}

#map{
    height: 400px;
}

/************************************************************************************/
/*GRADIENT BACKGROUND*/

.background {
    position: fixed;
    inset: 0;
    z-index: -10;

    background: linear-gradient(
        120deg,
        #a1bada,
        #6cbaff,
        #2aa3ff,
        #46f5f5
    );

    background-size: 300% 300%;
    animation: softBlueGradient 40s ease infinite;
}

@keyframes softBlueGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/************************************************************************************/
/*FOOTER*/
/************************************************************************************/
.Footer{
    text-align: center;
}

/*************************************************************************************/
/*POP-UP-KATALOG*/

.zajazd-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.zajazd-modal.is-active {
  display: flex;
}

.zajazd-modal-content {
  background-color: #ffffff;
  padding: 20px;
  max-width: 550px;
  width: 90%;
  border-radius: 10px;
  position: relative;
}

.zajazd-modal-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 15px;
}

.zajazd-modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 26px;
  cursor: pointer;
}
