/************************************************************************************/
/*DOMOV*/
/************************************************************************************/

/*Header*/
.Header{
    background-color: #03045E;
    color: #CAF0F8;
    font-family: "Montserrat", "Noto Sans", sans-serif;
    display: flex;
    height: 80px;
    position: fixed;
    justify-content: space-between;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    
}

.Header-Title{
    padding-left: 30px;
    padding-top: 0px;
}

.Navigation-Bar{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}

.Navigation-Button{
    color: #CAF0F8;
    font-size: 20px; 
    transition: 0.3s ease;
}

.Navigation-Button:hover{
    color: #CAF0F8;
    font-size: 20px;
    transform: scale(1.05);

}

.Login-Button{
    color: #CAF0F8;
    font-size: 22px;
    border: #CAF0F8 solid 2px;
    
}

/*Body*/
body{
    padding-top: 60px;
    font-family: "Montserrat", "Noto Sans", sans-serif;
}

.Homepage-Post-ImageSource {
    width: auto;
    height: 300px;
}

/*Obrazkovy post*/
.Homepage-Post-Image{
    width: 100%;
    height: auto;
}


/************************************************************************************/
/*Katalog*/
/************************************************************************************/
.Catalog-Grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    min-width: 320px;
    width: 100%;    
}

.Grid-Katalog-Post {
    width: 100%;
    max-width: 350px;
    background-color: #CAF0F8;
    display: inline-block;
    border: #90E0EF solid 3px;
    border-radius: 5px;  
    transition: 0.3s ease; 
}

.Grid-Katalog-Post-Image {
    width: 100%;       
    height: 200px;   
    object-fit: cover; 
}

.Grid-Katalog-Post:hover {
    transform:  scale(1.05);  
}

.Grid-Katalog-Post-Button{
    background-color: #90E0EF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}



/************************************************************************************/
/*Blog*/
/************************************************************************************/

/************************************************************************************/
/*Poistenie*/
/************************************************************************************/

/************************************************************************************/
/*Kontakt*/
/************************************************************************************/